* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins';
}

html {
	scroll-padding-top: 8vh;
}

/********************************************************************************* 
* NAVIGATION BAR
*********************************************************************************/
.top-ribbon {
	background-color: #F24D5A;
	font-size: 15px;
	max-width: 100%;
	padding-bottom: 10px;
	position: fixed;
	width: 100vw;
	z-index: 2
}

.side-nav {
	background-color: #BCBCBC; 
	height: 100%;
	list-style-type: none;
	overflow-x: hidden;
	padding-top: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: 0.5s;
	width: 0;
	z-index: 2;
}

.side-nav a {
	color: #FFFFFF;
	display: block;
	font-size: 17px;
	padding-left: 30px;
	padding-top: 20px;
	text-align: left;
	text-decoration: none;
	transition: 0.3;
}

.side-nav .closebtn {
	font-size: 35px;
	padding-top: 0;
	position: absolute;
	right: 20px;
}

.nav-link, 
.logo {
	color: #FFFFFF;
	text-decoration: none;
}

.nav-list {
	margin-top: 52px;
}

.nav-link {
	padding: 20px;
	position: left;
}

.nav-link:hover {
	background-color: #ADADAD;
}

.logo {
	display: inline-block;
	font-size: 22px;
	margin-left: 20px;
	margin-top: 10px;
}

.navbar-toggle {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 22px;
	padding: 10px 20px;
	position: absolute;
	right: 0px;
}

.active {
	display: block;
}

.navbar-toggle:hover {
	background-color: #FA5F6B;
}

.disable-select {
	-khtml-user-select: none;
	-moz-user-select: none; 
  	-ms-user-select: none; 
  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	user-select: none;
}

/********************************************************************************* 
* ANCHOR
*********************************************************************************/
.anchor {
	scroll-padding-top: -8vh;
	scroll-margin-top: 8vh;
}
/********************************************************************************* 
* FRONT PAGE
*********************************************************************************/

/* Background layer */
#fp-background {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("images/MD_Landscape.jpg") center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	height: 100vh;
	max-width: 100%;
	position: relative;
	width: 100vw;
	z-index: 0;
}

/* Layer that contains all content. */
#fp-div {
	background: transparent;
	height: 100%;
	width: 100%;
	padding-top: 33vh;
	display: inline-block;
	text-align: center;
	vertical-align: center;
	color: #FFFFFF;
	overflow: hidden;
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
	position: relative;
	z-index: 1;
}

h1 {
	font-size: 90px;
	margin-bottom: 2.5vh;
}

h1:after {
	content: '';
	display: block;
	border: 2px solid white;
	margin: auto;
	width: 60vw;
}

h2 {
	font-size: 35px;
	margin-top: 2.5vh;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/********************************************************************************* 
* ABOUT ME 
*********************************************************************************/

#about_me {
	background-color: #242424;
	color: #FFFFFF;
	display: flex;
	max-width: 100%;
	overflow: auto;
	padding-bottom: 5vh;
	padding-top: 3vh;
	position: relative;
	vertical-align: bottom;
	width: 100%;
}

	#ab-text {
		flex: 1;
		float: left;
		width: 50%;
	}
	
		#ab-header {
			align-items: center;
			display: flex;
			font-size: 45px;
			margin-left: 7%;
			overflow: auto;
		}
		
		#ab-desc {
			align-items: center;
			display: flex;
			margin-left: 7%;
			margin-top: 1.5vh;
			overflow: auto;
		}
		
			p {
				font-size: 16px;
			}
			

	#ab-pic {
		flex: 1;
		align-items: center;
		display: flex;
		float: right;
		justify-content: center;
		width: 50%;
		top: 50%;
		transform: translateY(10%);
	}

			img[title="avatar"] {
				border: 1vh solid #F24D5A;
				border-radius: 50%;
				height: 400px;
				width: 400px;
			}

/********************************************************************************* 
* PROJECTS
*********************************************************************************/

#projects {
	background-color: #D4D4D4;
	color: #000000;
	display: inline-block;
	max-width: 100%;
	overflow: auto;
	padding-bottom: 5vh;
	padding-top: 3vh;
	position: relative;
	vertical-align: bottom;
	width: 100vw;
}

	#pr-header {
		align-items: center;
		display: flex;
		font-size: 45px;
		padding-left: 3.5%;
		overflow: auto;
		width: 100%;
	}

	#pr-desc-list {
		display: flex;
		overflow: auto;
		margin-top: 1.5vh;
		padding-bottom: 1%;
		width: 100%;
	}
		.pr-desc-item {
			flex: 1;
			overflow: auto;
			width: 50;
		}

		#pr-analytics-desc {
			margin-left: 3.5%;
			margin-right: 1.75%;
		}
		
		#pr-recommender_desc {
			margin-left: 1.75%;
			margin-right: 3.5%;
		}
		
	#pr-preview-list {
		display: flex;
		overflow: auto;
		margin-top: 1.5vh;
		width: 100%;
	}
	
		#pr-analytics-pic {
			align-items: top;
			display: flex;
			flex: 1;
			justify-content: center;
			width: 50%;
		}
		
			img[title="infographic"] {
				border: 0.5vh solid #F24D5A;
				height: 220px;
				width: 520px;
			}
		
		#pr-recommender-pic {
			align-items: top;
			display: flex;
			flex: 1;
			justify-content: center;
			width: 50%;
		}
		
			img[title="movielens"] {
				border: 0.5vh solid #F24D5A;
				height: 220px;
				width: 520px;
			}
			
	#pr-senior-design {
		margin-left: 12.5%;
		margin-right: 12.5%;
		margin-top: 4vh;
		overflow: auto;
		text-align: center;
		width: 75%;
	}
	
		p.solid {
			background-color: #C1C1C1;
			border-style: solid;
			font-size: 14px;
			margin-left: 20%;
			margin-right: 20%;
			padding: 10px;
		}

		#pr-nicomi-pic {
			align-items: top;
			display: flex;
			flex: 1;
			left: 50%;
			transform: translateX(50%);
			justify-content: center;
			width: 50%;
		}
		
			img[title="nicomi"] {
				border: 0.5vh solid #F24D5A;
				height: 351px;
				width: 624px;
			}

/********************************************************************************* 
* CONTACT
*********************************************************************************/

#contacts {
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 1.00), rgba(0, 0, 0, 0.6)), url("images/MD_Landscape.jpg") center center fixed;
	color: #FFFFFF;
	display: inline-block;
	justify-content: center;
	max-width: 100%;
	overflow: auto;
	padding-bottom: 2vh;
	padding-top: 2vh;
	position: relative;
	vertical-align: bottom;
	width: 100%;
}

	#cc-header {
		align-items: center;
		display: flex;
		font-size: 40px;
		justify-content: center;
	}
	
	#cc-list {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-top: 1vh;
		margin-left: 5%;
		margin-right: 5%;
		overflow: auto;
		width: 90%;
	}
	
		#cc-email {
			flex: 1;
			margin: auto;
			overflow: auto;
			text-align: center;
			width: 33.33%;
		}
		
		#cc-phone {
			flex: 1;
			margin: auto;
			overflow: auto;
			text-align: center;
			width: 33.33%;
		}
		
		#cc-linkedin {
			flex: 1;
			margin: auto;
			overflow: auto;
			text-align: center;
			width: 33.33%;
		}